*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}



body{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.header{
    display: flex;
    width: 90%;
    align-items: center;
    margin: auto;
    height: 50px;
    background-color: white;
}
.logo{
    width: 80%;
    text-align: center;
    padding-left: 250px;
}
.icon{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 20%;
}
.icon li{
    margin-left: 15px;
}


/* -------- ИКОНКА ПОИСКА --------*/
.search {
     display: table;
}
 .search input {
     background: none;
     border: none;
     outline: none;
     width: 30px;
     min-width: 0;
     padding: 0;
     z-index: 1;
     position: relative;
     line-height: 18px;
     margin: 5px 0;
     font-size: 13px;
     -webkit-appearance: none;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     transition: all 0.5s ease;
     cursor: pointer;
     color: black;

}
 .search input + div {
     position: relative;
     height: 30px;
     width: 100%;
     margin: -30px 0 0 0;

}
 .search input + div svg {
     display: block;
     position: absolute;
     height: 30px;
     width: 145px;
     right: 0;
     top: 0;
     fill: none;
     stroke: black;
     stroke-width: 1.5px;
     stroke-dashoffset: 271.908;
     stroke-dasharray: 59 212.908;
     transition: all 0.5s ease;

}
 .search input:not(:placeholder-shown), .search input:focus {
     width: 145px;
     padding: 0 4px;
     cursor: text;

}
 .search input:not(:placeholder-shown) + div svg, .search input:focus + div svg {
     stroke-dasharray: 150 212.908;
     stroke-dashoffset: 300;

}
 ::selection {
     background: rgba(236, 134, 169, 0.4);
}
 ::-moz-selection {
     background: rgba(236, 134, 169, 0.4);
}
/* -------- ИКОНКА ПОИСКА --------*/


marquee{
    display: flex;
    height: 20px;
    word-spacing: 10px;
    font-weight: 500;
}


.main{
    display: flex;
    height: 100vh;

}
.box-1{
    flex: 1;
    background: black;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.box-1:hover{
    background: #1C1C1C;
}
.box-1-hoodie{
    background-image: url(../img/hudi.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.box-1-hoodie {
    transition: 0.5s;
   }
   .box-1-hoodie:hover {
    transform: scale(0.9);
   }
.box-1-hoodie{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.tittle-hoodie{
    font-size: 118px;
    font-weight: 700;
    color: #F380A8;
}


.box-2{
    flex: 1;
    background: #F380A8;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.box-2:hover{
    background: #EE98B6;
}
.box-2-Tshirts{
    background-image: url(../img/t-shirts.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.box-2-Tshirts {
    transition: 0.5s;
   }
   .box-2-Tshirts:hover {
    transform: scale(0.9);
   }
.box-2-Tshirts{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.tittle-Tshirts{
    font-size: 115px;
    letter-spacing: -5px;
    font-weight: 700;
    color: black;
}


/*---------------  ПОПАП-РЕГИСТРАЦИЯ  --------------- */
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.form-popup {
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.popup-body{
    position: absolute;
    top: 60px;
    right: 25px;
}
.form-container {
    max-width: 350px;
    height: 450px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;

}
.default-modals-sign-in-arrow{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 5px;
    background: white;
}
.close-button{
    position: absolute;
    right: 20px;
    top: 15px;
}
.close{
    width: 20px;
    height: 20px;
}


label b{
    font-weight: 400;
    color: gray;
    text-transform: uppercase;
}
.form-container input[type=text], .form-container input[type=password] {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin: 5px 0 25px 0;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
    font-weight: 700;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #E9E9E9;
  outline: none;
}

.forget{
    text-align: center;
}
.forget a{
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.or-text{
    color: black;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
}

.reg-text{
    color: black;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
}
.reg{
    color: black;
}


.form-container .btn-sign {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 300;
    background-color: black;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;
    margin-top: 50px;
    margin-left: 75px
}
.form-container .btn-sign:hover, .open-button:hover {
  opacity: 1;
}
/*---------------  ПОПАП-РЕГИСТРАЦИЯ  --------------- */





/* ----------- МОБ.ВЕРСИЯ ----------- */
@media screen and (max-width: 1024px){
    .header{
        width: 95%;
        height: 200px
    }
    .logo{
        padding: 0px;
        padding-bottom: 5px;
        text-align: left;
        align-items: center;
    }

    #inst {
        width: 335px;
        height: 168px;
    }
    .icon li{
        margin-left: 40px;
    }
    .search input {
        width: 75px;
        font-weight: 500;
        font-size: 32px;
        top: 10px;

    }
     .search input + div {
         height: 63px;
         width: 100%;
         margin: -45px 0 0 0;

    }
     .search input + div svg {
         height: 63px;
         width: 370px;
    }
     .search input:not(:placeholder-shown), .search input:focus {
         width: 360px;

    }
    .icon-user{
        width: 38px;
        height: 65px;
    }
    .icon-card{
        width: 58px;
        height: 65px;
    }

    marquee{
        display: none;
    }

    .main{
        flex-direction: column;
    }
    .box-1-hoodie{
        background-size: 50%;
    }
    .box-2-Tshirts{
        background-size: 70%;
    }
    .tittle-Tshirts{
        font-size: 150px;
    }
    .tittle-hoodie{
        font-size: 185px;
    }
}
@media screen and (min-width: 2560px){
    .logo{
        padding-left: 450px;
    }
}
/* ----------- МОБ.ВЕРСИЯ ----------- */
