@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
}


body{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.product-wrap {
   width: 300px;
   margin: 0 auto;
   background: white;
   padding: 0 0 20px;
   text-align: center;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
}
.product-item {
   position: relative;
   overflow: hidden;
}
.product-wrap img {
   display: block;
   width: 100%;
}

.button {
   text-decoration: none;
   color: white;
   font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
   height: 40px;
   line-height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: .3s ease-in-out;
}
.product-item:hover .product-buttons {
   opacity: 1;
}
.product-item:hover .button {
   transform: translate(-50%, -50%) scale(1);
}


.product-title a {
    font-size: 20px;
   text-decoration: none;
   color: #F380A8;
   font-weight: 600;
   padding-bottom: 7px;
   display: block;
   position: relative;
   transition: .3s ease-in-out;
}

.product-price {
   font-size: 20px;
   color: black;
   font-weight: 600;
}
