@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
}


body{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

button{
    border: none;
    background-color: #EC86A9;
    cursor: pointer;
     outline: none;
}
.header{
    display: flex;
    align-items: center;
    margin: auto;
    height: 50px;
    background-color: #EC86A9;

}

.logo{
    width: 80%;
    text-align: center;
    padding-left: 280px;
}
.icon{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 20%;
    padding-right: 70px;
}
.icon li{
    margin-left: 15px;
}

.category-list a{
    border: 1px solid black;
}


/* -------- ИКОНКА ПОИСКА --------*/
.search {
     display: table;
}
 .search input {
     background: none;
     border: none;
     outline: none;
     width: 30px;
     min-width: 0;
     padding: 0;
     z-index: 1;
     position: relative;
     line-height: 18px;
     margin: 5px 0;
     font-size: 13px;
     -webkit-appearance: none;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     transition: all 0.5s ease;
     cursor: pointer;
     color: black;

}
 .search input + div {
     position: relative;
     height: 30px;
     width: 100%;
     margin: -30px 0 0 0;

}
 .search input + div svg {
     display: block;
     position: absolute;
     height: 30px;
     width: 145px;
     right: 0;
     top: 0;
     fill: none;
     stroke: black;
     stroke-width: 1.5px;
     stroke-dashoffset: 271.908;
     stroke-dasharray: 59 212.908;
     transition: all 0.5s ease;

}
 .search input:not(:placeholder-shown), .search input:focus {
     width: 145px;
     padding: 0 4px;
     cursor: text;

}
 .search input:not(:placeholder-shown) + div svg, .search input:focus + div svg {
     stroke-dasharray: 150 212.908;
     stroke-dashoffset: 300;

}
 ::selection {
     background: rgba(236, 134, 169, 0.4);
}
 ::-moz-selection {
     background: rgba(236, 134, 169, 0.4);
}
/* -------- ИКОНКА ПОИСКА --------*/





.catalog{
    height: 100vh;
    padding: 5% 5%;
}

.breadcrumbs {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #786367;
    position: relative;
}
.breadcrumbs a{
    color: #a30320;
}


.products-tittle{
    width: 100%;
    text-align: center;
    color: black;
}
.products-tittle h1{
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
}


.product-list {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

.product-list{
    margin-top: 35px;
}
.product {
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    height: 300px;
}
.products {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
}


.product-wrap {
   width: 350px;
   margin: 0 auto;
   background: white;
   padding: 0 0 20px;
   text-align: center;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
}
.product-item {
   position: relative;
   overflow: hidden;
}
.product-wrap img {
   display: block;
   width: 100%;
}

.button {
   text-decoration: none;
   color: white;
   font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
   height: 40px;
   line-height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: .3s ease-in-out;
}
.product-item:hover .product-buttons {
   opacity: 1;
}
.product-item:hover .button {
   transform: translate(-50%, -50%) scale(1);
}


.product-title a {
    font-size: 18px;
   text-decoration: none;
   color: black;
   font-weight: 600;
   padding-bottom: 7px;
   display: block;
   position: relative;
   transition: .3s ease-in-out;
}

.product-price {
   font-size: 18px;
   color: #F380A8;
   font-weight: 600;
}



/*---------------  МОДАЛЬНОЕ ОКНО-РЕГИСТР  --------------- */
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
.modal-authorization{
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.authorization-body{
    position: absolute;
    top: 60px;
    right: 25px;
}
.authorization-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}
.default-modals-sign-in-arrow{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 5px;
    background: white;
}
.close-authorization{
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: white;
}
.closeAuthorizationBtn{
    width: 20px;
    height: 20px;
}


label b{
    font-weight: 400;
    color: gray;
    text-transform: uppercase;
}
.authorization-container input[type=text], .authorization-container input[type=password] {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin: 5px 0 25px 0;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
    font-weight: 700;
}
.authorization-container input[type=text]:focus, .authorization-container input[type=password]:focus {
  background-color: #E9E9E9;
  outline: none;
}

.forget{
    text-align: center;
}
.forget a{
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.or-text{
    color: black;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
}

.reg-text{
    color: black;
    text-align: center;
    margin-top: 20px;

}
.reg{
    color: black;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
}

.signBtn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.authorization-container .btn-sign {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 300;
    background-color: black;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;
    margin-top: 50px;
/*    margin-left: 75px*/
}
.form-container .btn-sign:hover, .open-button:hover {
  opacity: 1;
}
/*---------------  МОДАЛЬНОЕ ОКНО-РЕГИСТР  --------------- */

/*---------------  МОДАЛЬНОЕ ОКНО-КОРЗИНА  --------------- */
.close-Card{
    background-color: white;
}
.bgCard{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
.modal-card{
    position: fixed;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.card-body{
    position: absolute;
    top: 0px;
    right: 0px;
}
.card-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    background-color: white;
}
.close-Card{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #ebeef1;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 50px 20px;
}
.closeCardBtn{
    width: 35px;
    height: 35px;
}

.mainCard{
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.mainCard-content{
    display: flex;
    flex-direction: column;
}
mainCard h2{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
}
.product-costs{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.product-costs span{
    text-transform: uppercase;
    font-size: 15px;
}
.product-costs span:nth-child(2){
    font-weight: 700;
    font-size: 18px;
}
.Checkout{
    display: flex;
    justify-content: center;
    align-items: center;

}
.mainCard .btn-checkout {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    font-weight: 300;
    background-color: black;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.8;
    margin-top: 50px;
}
.mainCard .btn-checkout:hover{
  opacity: 1;
}
/*--------------- МОДАЛЬНОЕ ОКНО-КОРЗИНА  --------------- */

@media only screen and (min-width: 450px) {
    .product-list {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-list {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-list {
        width: 25%;
    }
}

/* ----------- МОБ.ВЕРСИЯ ----------- */
@media screen and (max-width: 1024px){

    .header{
        height: 200px;
    }
    .logo{
        padding: 0px;
        padding-left: 20px;
        padding-bottom: 5px;
        text-align: left;
        align-items: center;
    }

    #inst {
        width: 335px;
        height: 168px;
    }
    .icon li{
        margin-left: 40px;
    }
    .search input {
        width: 75px;
        font-weight: 500;
        font-size: 32px;
        top: 10px;

    }
     .search input + div {
         height: 63px;
         width: 100%;
         margin: -45px 0 0 0;

    }
     .search input + div svg {
         height: 63px;
         width: 370px;
    }
     .search input:not(:placeholder-shown), .search input:focus {
         width: 360px;

    }
    .icon-user{
        width: 38px;
        height: 65px;
    }
    .icon-card{
        width: 58px;
        height: 65px;
    }

    marquee{
        display: none;
    }

}
@media screen and (min-width: 2560px){
    .logo{
        padding-left: 450px;
    }
}
/* ----------- МОБ.ВЕРСИЯ ----------- */
